*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: calc(6.5px + .5vw);
  // font-size: 62.5%; // 1rem = 10px


  // Auto rotate screens that are portrait and less than min-width (560px)
  // Removed, clunky UI I think, need to do Manifest update:
  // https://developers.google.com/web/fundamentals/native-hardware/fullscreen/
  // @media screen and (min-width: 240px) and (max-width: $app-min-width) and (orientation: portrait) {
  //     transform: rotate(-90deg);
  //     transform-origin: left top;
  //     width: calc(100vh - 3em);
  //     // overflow-x: hidden;
  //     position: absolute;
  //     top: 100%;
  //     left: 0;
  // }
}


body {
  font-family: $font-primary;
  font-size: $font-default-size;
  background-color: $color-home-light;
  min-width: $app-min-width;
  max-width: $app-max-width;
  margin: 0 auto;
}



.btn-edit {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 2rem;
  background: radial-gradient(circle at top left,  
      $color-white 0%, 
      $color-home-light 70%, 
      $color-home-dark 100%);

  color: $color-gray-dark;
  @include dropshadow;
  z-index: $z-index-menu-btn;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: radial-gradient(circle at bottom right,  
      $color-white 0%, 
      $color-home-light 70%, 
      $color-home-dark 100%);
    color: $color-black;
    outline: none;
    @include dropshadow-darker;
  }
}

.field-edit {
  width: 3.5rem;
  height: 3rem;
  border-radius: 3px;
  border: none;
  color: $color-black;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 2rem;
  text-align: right;
  padding: 0 .5rem;
  margin-right: 1rem;

  background: linear-gradient(-10deg,  
    $color-home-dark 0%, 
    $color-home-light 30%, 
    $color-white 100%);

  @include dropshadow;

  &:hover,
  &:focus,
  &:active {
    background: $color-white; 
    outline: none;
    @include dropshadow-darker;
  }

}

.field-edit--single {
  width: 2.5rem;
}


// Hides spinners aka arrowrs inside number fields
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// Hides spinners in Firefox
input[type=number] {
  -moz-appearance: textfield;
  }