.index {
    display: grid;
    grid-template-rows: 
        [index-top] 1fr [index-bottom];
    grid-template-columns: 
        [index-left-start] 1fr [index-right-end];
    // min-height: 100vh;
    opacity: .99;
    z-index: $z-index-bottom;


    header {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        opacity: 0.99;
        position: relative;
        z-index: $z-index-menu-btn;
        // border: 1px solid blue;

        animation: headerAnim 100ms forwards;
        animation-delay: calc(#{$splash-time-basketball} + 
            #{$splash-time-title});
    }
}

.container {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: [sb-start] auto
        [sb-end] auto 
        [sk-start] 1fr [sk-end];
    grid-template-columns: 
        [left-start sb-home-start] minmax(18rem, 8fr)
        [sb-home-end sb-guest-start] minmax(12rem, 7fr) 
        [sb-guest-end right-end];
    // padding: 3rem 0 0 3rem; // DEBUG
    width: 100%;
    margin: 0 auto;
    opacity: .99;
    z-index: $z-index-bottom;
  }


  // SPLASH ANIMATION
  .splash {
 
    &__ball {
        pointer-events: none;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100px;
      z-index: $z-index-splash;
      background: radial-gradient(circle at top left, $color-guest-light 0,
         $color-guest-med 60%, $color-guest-dark 100%);
      border-radius: 50%;
      visibility: hidden;
      opacity: 0;
    //   transform: scale(0) translate(0, 0);
      transform-origin: top right;  
      
      animation: xBasketball $splash-time-basketball ease-in backwards;
 
       svg {
        pointer-events: none;
        width: 100%;
        height: 100%;
       }
     }
  
    // Way to have a more roller-coaster-like timing
    // Removed for performance 
    // &::after {
    //   animation: yBasketball $splash-time-basketball ease-out forwards;
    // }
  
  
    &__title {
      pointer-events: none;
      position: relative;
      z-index: z-index-splash;
      opacity: 0;
      margin: 18rem auto;
      text-align: center;
      background-color: $color-black;
      text-transform: uppercase;
      color: $color-guest-light;
      padding: 1rem;
      font-family: 'Codystar', cursive;
      font-size: 2rem;
      max-width: 60%;
      @include dropshadow;

      h1 {
          display: inline;
      }
  
      
      &--anim {
        animation: titleAnim $splash-time-title ease-in-out forwards;
        animation-delay: calc(#{$splash-time-basketball - .9s});
      }
    }

    &__subtitle {
        pointer-events: none;
        position: absolute;
        bottom: -.8rem;
        right: -1rem;
        text-transform: uppercase;
        transform: rotate(-5deg);
        font-family: $font-primary;
        font-size: $font-label-size;
        padding: .7rem .6rem;
        border-radius: 5px;
        color: $color-home-med;
        border: 2px solid $color-home-med;
        opacity: 0;
        @include dropshadow;

        &--anim {
            animation: subTitleAnim 1s ease-in-out forwards;
            animation-delay: 4.5s;
            // animation-delay: calc(#{$splash-time-title / 5});
        }
        }

  }
  
  