.period {
  grid-row: sb-end / sk-start;
  // grid-column: sb-home-start / sb-home-end;
  display: block;
  vertical-align: bottom;
  height: 100%;
  line-height: 0;
  // box-shadow: 1px 2px 4px rgba($color-gray-dark, .9);
  margin: 0;
  z-index: $z-index-periods;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }



  &__num {
    flex: 1 1 auto;
    color: $color-black;
    text-align: center;
    line-height: 2.5rem;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(-5deg,  
      rgba($color-secondary-dark, 1), 
      rgba($color-secondary-light, 1));
    box-shadow: 1px 3px 5px rgba($color-gray-dark, .7);
    position: relative;
  
    &::after {
      background: linear-gradient(-20deg,  
        rgba($color-secondary-very-dark, .6) 15%, 
        rgba($color-secondary-very-dark, 0));
      width: 100%;
      height: 100%;
      display: inline;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .99;
      z-index:999;
      content:"";
    }  


    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(-5deg,  
      $color-secondary-very-dark, 
      $color-secondary-dark);
      cursor: pointer;

    }

    [type=radio] {
      display: none;
      &:checked ~ label {
        background: linear-gradient(-5deg,  
        $color-secondary-very-dark, 
        $color-secondary-dark);
      font-weight: 600;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
  
      }
    }  

    label {
      display: inline-block;
      width: 100%;
      min-height: 100%;
      height: 100%;
      padding: .5rem;
      z-index: 900;
      // border: 1px solid red;
    }
    

  }

}
