.period {
  grid-row: sb-end / sk-start;
  // grid-column: sb-home-start / sb-home-end;

  z-index: $z-index-periods;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }



  &__num {
    flex: 1 1 auto;
    color: $color-black;
    text-align: center;
    line-height: 2.5rem;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(-5deg,  
      $color-secondary-dark, 
      $color-secondary-light);
    border: none;
    
    @include dropshadow-darker;

    &:hover,
    &:focus,
    &:active {
      background: linear-gradient(-5deg,  
      $color-secondary-very-dark, 
      $color-secondary-dark);
  }

    [type=radio] {
      display: none;
      &:checked ~ label {
        background: linear-gradient(-5deg,  
        $color-secondary-very-dark, 
        $color-secondary-dark);
      font-weight: 600;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
  
      }
    }  

    label {
      display: inline-block;
      width: 100%;
      min-height: 100%;
      height: 100%;
      padding: .5rem;
      z-index: 900;
      // border: 1px solid red;
    }
    

  }

}
