.sb {

  display: grid;
  grid-template-rows: repeat(2, 2.75rem) .2rem [sb-end];
  grid-template-columns: [sb-start] minmax(1rem, auto) 
      [sb-content-start] minmax(max-content, 3fr)
      [sb-fouls-end sb-tech-start] minmax(1rem, 3fr) 
      [sb-name-end sb-score-start] max-content
      [sb-content-end] minmax(1rem, 1fr) [sb-end];
  grid-row-gap: .5rem;
  grid-column-gap: .5rem;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: $z-index-SB;

  // DEBUG
  // & > * {
  //   border: 1px solid gray;
  // }

  &--home {
    grid-row: 1 / sb-end;
    grid-column: sb-home-start / sb-home-end;
    background: linear-gradient(0deg,  
        $color-home-dark 0%, 
        // $color-home-med 5%, 
        $color-home-dark 20%, 
        $color-home-light 80%);
      border-top-right-radius: 10px;
      }

  &--guest {
    grid-row: 1 / sb-end;
    grid-column: sb-guest-start / sb-guest-end;
    background: linear-gradient(0deg,  
        $color-guest-dark 0%, 
        // $color-guest-med 5%,
        $color-guest-dark 20%,
        $color-guest-light 80%);
    border-top-left-radius: 10px;
  }

  [type=radio] {
    display: none;
    // DEBUG
    // &:checked ~ label {
    //   background: rgba(white, .3);
    // }


  }


  &__tab {

    & > label {
      grid-row: 1 / span 2;
      grid-column: 1 / -1;
      cursor: pointer;
      z-index: $z-index-SB;
      position: relative;
      width: 100%;
      height: 100%;
    }


  }



  &__under-menu {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    width: 4.5rem;
    z-index: 0;
  }

  &__team {
    grid-row: 1 / span 1;
    grid-column: sb-content-start / sb-name-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;

    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-label {
      font-weight: bold;
      padding-right: 1rem;

    }

    &-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }

  }

  &__score {
    grid-row: 1 / span 2;
    grid-column: sb-score-start / sb-content-end;
    background: $color-black;
    font-size: 4rem;
    font-weight: bold;
    color: $color-white;
    padding: 1rem;
    width: 8rem;
    text-align: center;
    align-self: stretch;
  }

  &__fouls {

    grid-row: 2 / span 1;
    grid-column: sb-content-start / sb-fouls-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;

    &-label {
      margin-right: .5rem;
      font-size: $font-label-size;
    }

    &-num {
      background-color: $color-black;
      color: $color-white;
      padding: .4rem 1rem;
      width: 3rem;
      height: 2.5rem;
      text-align: center;
      margin-right: .5rem;
    }

    &-bb {
      background-color: $color-black;
      color: $color-white;
      padding: .4rem .5rem;
      width: 3.5rem;
      height: 2.5rem;
      text-align: center;
    }
  }

  &__to-tech {
    grid-row: sb-end / sk-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: .5rem;

    &--guest {
      grid-column: sb-guest-start / sb-guest-end;
      background: linear-gradient(0deg,  
        $color-guest-med 0%, 
        $color-guest-med 50%,
        $color-guest-dark 100%);
      padding-left: 1.5rem;

    }

    &--home {
      grid-column: sb-home-start / sb-home-end;
      background: linear-gradient(0deg,  
        $color-home-dark 0%, 
        $color-home-dark 50%,
        $color-home-dark 100%);
      padding-left: 5rem;

    }

  }

  &__to {
    grid-row: row-to-starts / span 1;
    grid-column: sb-content-start / sb-fouls-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;


    &-label {
      font-weight: 600;
      font-size: $font-label-size;
      margin-right: .5rem;
    }

  }

  &__tech {
    grid-row: row-to-starts / span 1;
    grid-column: sb-tech-start / sb-content-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 4rem;
 
    &-label {
      font-weight: 600;
      font-size: $font-label-size;
      margin-right: .5rem;
    }

    &-num {
    }

    &-bb {
    }
  }



}


