.sk {
  grid-column: left-start / right-end;
  grid-row: sk-start / sk-end;
  width: 100%;
  height: 100%;

  &--home {
    background-color: $color-home-light;
    thead tr {
      background: linear-gradient(0deg,  
          rgba($color-home-dark, .7) 0%, 
          $color-home-dark 30%,
          rgba($color-home-med, .7) 100%);
    }
  
    // Darker
    tbody tr:nth-child(odd) {
      transition: all 1s ease-in 1s;
      background: linear-gradient(0deg,  
          rgba($color-home-dark, .8) 0%, 
          rgba($color-home-dark, 1) 40%,
          rgba($color-home-med, .6) 100%); 
    }
    
    // Lighter
    tbody tr:nth-child(even) {
      background: linear-gradient(0deg,  
          rgba($color-home-dark, .5) 0%, 
          rgba($color-home-med, .1) 50%,
          rgba($color-home-light, .6) 100%); 
    }
  }

  &--guest {
    background-color: $color-guest-light;
    thead tr {
      background: linear-gradient(0deg,  
        rgba($color-guest-dark, .7) 0%, 
        $color-guest-dark 30%,
        rgba($color-guest-med, .7) 100%);
    }
  
    // Darker
    tbody tr:nth-child(odd) {
      background: linear-gradient(0deg,  
      rgba($color-guest-dark, .8) 0%, 
      rgba($color-guest-dark, 1) 40%,
      rgba($color-guest-med, .6) 100%); 
    }

    // Lighter
    tbody tr:nth-child(even) {
      background: linear-gradient(0deg,  
      rgba($color-guest-dark, .5) 0%, 
      rgba($color-guest-med, .1) 50%,
      rgba($color-guest-light, .6) 100%); 
    }
  }


  table {
    vertical-align: middle;
    white-space: nowrap;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

td, th {
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .8rem;
  }

  th {
    padding-bottom: .5rem;
  }


  td {
    padding-bottom: 1.25rem;
  }

  &__label {
    font-weight: 600;
    text-align: center;
    padding: .5rem;
    font-size: $font-label-size;

    &--name, th, td {
      text-align: left;

      max-width: 13rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  
    }

    &--number {
      width: 4rem;
    }

    &--edit {
      width: 25%;
    }


  }

  &__player {

    &--animate {
      opacity: 0;
      animation-name: moveFromLeft;
      animation-duration: 400ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      @for $i from 0 through 100 { // TODO - CALCULATE BASED ON NUM ROWS
        &:nth-child(#{$i}) {
            animation-delay:(#{0ms + ($i * 300ms)});
          }
        }

    }
  

    &--name {
      text-align: left;
      max-width: 13rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--number {
      text-align: right;
    }

    &--edit {
      text-align: center;
    }

  }
}

